torch~=2.4.1
gtts~=2.5.3
vosk~=0.3.45
spacy~=3.7.5
language_tool_python
boto3~=1.35.32
google.cloud
pySmartDL~=1.3.4
yt_dlp
youtube_dl
moviepy~=1.0.3
pyglet~=2.0.17
pydub~=0.25.1
playsound
pyttsx3~=2.98
SpeechRecognition~=3.10.4
argostranslate~=1.9.6
google-cloud-speech
TTS==0.22.0
tqdm~=4.66.5
matplotlib~=3.8.4
yt-dlp~=2024.9.27
youtube-dl~=2021.12.17
absl-py~=2.1.0
protobuf~=5.28.2