absl-py
aiohttp
aiosignal
annotated-types
anyascii
attrs
audioread
Babel
bangla
beautifulsoup4
blinker
blis
bnnumerizer
bnunicodenormalizer
boto3
botocore
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
confection
contourpy
coqpit
cycler
cymem
Cython
dateparser
decorator
docopt
einops
encodec
enum34
filelock
Flask
fonttools
frozenlist
fsspec
g2pkk
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-speech
google-trans-new
googleapis-common-protos
grpcio
grpcio-status
gTTS
h11
h2
hangul-romanize
hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
idna
imageio
imageio-ffmpeg
inflect
itsdangerous
jamo
jieba
Jinja2
jmespath
joblib
jsonlines
kiwisolver
langcodes
lazy_loader
libretranslatepy
librosa
llvmlite
lxml
Markdown
MarkupSafe
matplotlib
moviepy
mpmath
msgpack
multidict
murmurhash
networkx
nltk
num2words
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
packaging
pandas
Pillow
platformdirs
playsound
pooch
preshed
proglog
proto-plus
protobuf
psutil
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydub
pyglet
pynndescent
pyparsing
pypinyin
pysbd
python-crfsuite
python-dateutil
pyttsx3
pytz
PyYAML
regex
requests
requests-oauthlib
rfc3986
rsa
s3transfer
safetensors
scikit-learn
scipy
six
smart-open
sniffio
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
srsly
srt
SudachiDict-core
SudachiPy
sympy
synthesizer
tensorboard
tensorboard-data-server
thinc
threadpoolctl
tokenizers
torch
torchaudio
tqdm
transformers
translator
triton
typer
typing_extensions
tzlocal
umap-learn
Unidecode
urllib3
vosk
wasabi
weasel
websockets
Werkzeug
yarl
gdown
absl-py
aiohttp
aiosignal
alive-progress
annotated-types
anyascii
anyio
argostranslate
attrs
audioread
Babel
bangla
beautifulsoup4
blinker
blis
bnnumerizer
bnunicodenormalizer
boto3
botocore
Brotli
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
coqpit
ctranslate2
cycler
cymem
Cython
dateparser
decorator
docopt
downloader-cli
einops
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
encodec
enum34
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl#sha256=61e6e5530941f5880166855f09f60d7e6ba79ec1e8e45f96244bdb1eb169eb1d
ffmpeg
ffmpeg-python
ffprobe
filelock
Flask
fonttools
frozenlist
fsspec
future
g2pkk
gdown
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-speech
google-trans-new
googleapis-common-protos
grapheme
grpcio
grpcio-status
gTTS
h11
h2
hangul-romanize
hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
identify
idna
imageio
imageio-ffmpeg
inflect
itsdangerous
itunespy
jamo
jieba
Jinja2
jmespath
joblib
jsonlines
kiwisolver
langcodes
language-tool-python
lark
lazy_loader
libretranslatepy
librosa
llvmlite
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
moviepy
mpmath
msgpack
multidict
murmurhash
musicbrainzngs
mutagen
networkx
nltk
num2words
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
packaging
pandas
Pillow
platformdirs
playsound
pooch
preshed
proglog
proto-plus
protobuf
psutil
pyasn1
pyasn1-modules
pycountry
pycparser
pycryptodomex
pydantic
pydantic_core
pyDes
pydub
pyglet
Pygments
pynndescent
pyparsing
pypinyin
pysbd
pySmartDL
PySocks
python-crfsuite
python-dateutil
pyttsx3
pytz
pyxdg
PyYAML
redis
regex
requests
requests-oauthlib
rfc3986
rich
rsa
s3transfer
sacremoses
safetensors
scikit-learn
scipy
sentencepiece
simber
six
smart-open
sniffio
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
spotipy
srsly
srt
stanza
SudachiDict-core
SudachiPy
sympy
synthesize
synthesizer
tensorboard
tensorboard-data-server
thinc
threadpoolctl
tokenizers
torch
torchaudio
tqdm
trainer
transformers
translator
triton
TTS
typer
typing_extensions
tzlocal
umap-learn
Unidecode
urllib3
vosk
wasabi
watchfiles
weasel
websockets
Werkzeug
yarl
youtube-dl
youtube-search-python
yt-dlp
ytmdl
ytmusicapi
